.mdbanner_img {
  max-height: 300px;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}
.MdBanner {
  /* gap: 5px; */
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.mdbanner_img:hover {
  opacity: 0.8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.06, 1.06);
}




/* Media query for tablet  */
@media (min-width: 768px ) {
  .MdBanner {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 6%;
    margin-right: 6%;
  }

  .MdBanner > .mdbanner_img {
    flex-basis: calc(50% - 10px); 
    margin:0px;
  }
}
@media (min-width: 1024px) {
  .MdBanner {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 6%;
    margin-right: 6%;
  }

  .MdBanner > .mdbanner_img {
    flex-basis: calc(50% - 10px); 
    margin:0px;
  }
}

/* Media query for tablet and desktop */
@media (max-width: 768px) {
  .MdBanner {
    flex-wrap: nowrap;
    flex-direction: column; 
    margin: auto;
  }

  .MdBanner > .mdbanner_img {
    flex-basis: calc(50% - 10px); 
    margin: auto;
    margin-bottom: 2px;
    margin-top: 2px;
  }
}