.nav-bar {
  background-color: #008ecc;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.nav-container {
  margin-left: 8%;
  margin-right: 8%;
  justify-content: space-between;
}

.colorset {
  color: aliceblue;
}

/* Styles for navbar toggler button */
.navbar-toggler-icon {
  color: aliceblue;
}

/* Styles for dropdown link */
.nav-link.dropdown-toggle {
  color: #008ecc;
  background-color: #008ecc;
}

/* Styles for dropdown menu items */
.dropdown-item {
  background-color: #008ecc;
  color: rgb(35, 38, 41);
  text-decoration-color: black;
}

/* Styles for cart icon and badge */
.nav-link .bi-cart-plus-fill {
  color: aliceblue;
}

.cart-badge.badge.bg-success {
  background-color: aliceblue;
  color: black; /* Ensuring the badge text is visible */
}
.dropdown-item:hover{
  background-color: #6f6f74;
  color: #1b1b32;
  cursor: pointer;
}
